body {
    background-color: hsl(208, 100%, 81%);
    color: black;
    font-family: "Libertinus Serif Display", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(162, 237, 247);
   color: black; 
   font-family: "Playfair Display", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}